* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
}
:root {
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}
body {
    background: var(--cream);
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100vh; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 50px;
}
.container {
    background:var(--white);
    width:350px;
    display: flex;
    flex-direction: column;
}
.product-img {
    width: 100%;
    background-image: url("/img/image-product-mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.product-img img {
    display: none;
}

.attribution {
    font-size: 10px;
    margin-top: 15px;
    text-align: center;
}

.attribution a {
    color: hsl(179, 62%, 43%);
}

.attribution a:hover {
    text-decoration: underline;
}

@media screen and (min-width:1021px) {
    body {
        height: 100vh;
    }
    .container {
        width:500px;
        flex-direction:row;
    }
    .product-img img {
        display: block;
        width: 100%;
    }
    .product-content {
        width:100%;
    }
}